test_dilithium2
test_dilithium3
test_dilithium5
test_vectors2
test_vectors3
test_vectors5
test_speed2
test_speed3
test_speed5
test_mul
test_las2
test_las3
test_las5
test_swap3
bench_las3
bench_compare3
bench_app3
bench_levels_paper
bench_levels2
bench_levels3
bench_levels5
test_basesig_paper
test_basesig2
test_basesig3
test_basesig5
test_pcn3
test_amhl3
test_serde3
test_serde_l2
test_serde_l3
test_serde_l5
test_kat3
test_contract3
bench_classical
export_packed
