test_dilithium2
test_dilithium3
test_dilithium5
test_vectors2
test_vectors3
test_vectors5
test_speed2
test_speed3
test_speed5
test_mul
test_las2
test_las3
test_las5
test_swap3
bench_las3
bench_compare3
